/* Todo listo aca */

body {
margin: 0;
font-family: 'Segoe UI', sans-serif;
line-height: 1.6;
background: #f5fdf8;
color: #2e2e2e;;
}

header {
padding: 1rem 2rem;
display: flex;
position: absolute;
z-index: 2;
}

nav ul {
list-style: none;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
}

nav a {
text-decoration: none;
color: black;
font-weight: bold;
transition: color 0.3s;
}

nav a:hover {
color: white;
}

a {
text-decoration: none;
color: black;
}

a:hover {
color: white;
}